@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

$gradient: linear-gradient(#4ecdc4, #556270);
$text-color: #f2f2f2;
$white-text: #fff;
$gradient-rev: linear-gradient(#556270, #4ecdc4);
$poppins: 'Poppins', sans-serif;

@mixin flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: $gradient;
}

header {
    background: $gradient-rev;
    color: $white-text;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: $poppins;
}

.images {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.images img {
    width: 350px;
    border-radius: 10px;
}

.about-me {
    @include flex
}

.about-me p {
    width: 350px;
    padding: 5px;
    font-size: 20px;
    color: $text-color;
    font-family: $poppins;
}

footer {
    text-align: center;
    color: $white-text;
    margin-bottom: 10px;
}