@use 'variables';
@use 'mixins';

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: variables.$gradient;
    background-repeat: no-repeat;
}

header {
    background: variables.$gradient-rev;
    color: variables.$white-text;
    padding: 10px;
}

h1 {
    @include mixins.h1;
}

.images {
    @include mixins.flex(center, column);
    margin: 20px;
}

.images img {
    @include mixins.images();
}

.about-me {
    @include mixins.flex(center, column);
}

.about-me p {
    @include mixins.stdText;
}

.button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button a {
    @include mixins.button;
}

footer {
    text-align: center;
    color: variables.$white-text;
    margin-bottom: 10px;
}

