@use 'variables';

@mixin flex ($ai:null, $fd:null){
    display: flex;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin images ($width: 350px) {
    width: $width;
    border-radius: 10px;
}

@mixin stdText {
    width: 350px;
    padding: 5px;
    font-size: 20px;
    color: variables.$text-color;
    font-family: variables.$poppins;
}

@mixin button {
    width: 175px;
    background-color: rgba(45, 201, 45, 0.767);
    border: 2px solid black;
    text-decoration: none;
    text-align: center;
    font-family: variables.$poppins;
    padding: 10px;
    border-radius: 3px;
    font-size: 20px;
    color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@mixin h1 {
    text-align: center;
    font-family: variables.$poppins;
}

@mixin container {
    border: 3px solid black;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@mixin btnHover {
    background-color: black;
    color: rgba(45, 201, 45, 0.767);
    border: 2px solid rgba(45, 201, 45, 0.767);
}