@use 'variables';

@mixin flex ($ai:null, $fd:null){
    display: flex;
    align-items: $ai;
    flex-direction: $fd;
}

@mixin images ($width: 350px) {
    width: $width;
    border-radius: 10px;
}

@mixin stdText {
    width: 350px;
    padding: 5px;
    font-size: 20px;
    color: variables.$text-color;
    font-family: variables.$poppins;
}

// @mixin jobText {
//     width: 350px;
//     padding: 5px;
//     font-size: 20px;
//     color: variables.$text-color;
//     font-family: variables.$poppins;
// }
